@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  display: flex;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  background-color: #090b59;
  overflow-x: hidden;
  overflow-y: scroll;
}

#snowfall {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  background-image: url("img/bg_a.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#treeContainer {
  position: relative;
  display: flex;
  width: 60%;
  max-width: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#treeContainer .T {
  width: 80%;
  margin: -3.5% 0 !important;
}

#treeContainer > .M, #grow {
  width: 90%;
}

#treeContainer img {
  width: 100%;
  margin: -2.5% 0;
}

#treeContainer > #grow {
  z-index: 2;
}

#giftContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: end;
  gap: 1%;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#giftContainer > img {
  box-sizing: border-box;
  width: 50%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  transform: translateY(-30%);
}

#giftContainer > img:nth-child(3n+2) {
  transform: translateY(5%);
}

#addLayerButton {
  z-index: 5;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(4px 4px at 541px 16px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 507px 291px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 159px 537px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 405px 271px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 274px 409px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 569px 111px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 328px 455px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 398px 357px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 85px 91px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 94px 20px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 403px 561px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 282px 168px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 494px 43px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 567px 484px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 172px 251px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 320px 50px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 76px 361px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 362px 74px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 124px 463px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 440px 348px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 457px 353px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 518px 525px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 513px 506px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 63px 364px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 143px 146px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 538px 595px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 167px 425px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 74px 414px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 64px 265px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 354px 220px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 5s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -200px;
  opacity: 0.4;
  animation-duration: 10s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 15s;
  animation-direction: reverse;
  margin-left: -300px;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
dialog {
  border: none;
  background-color: #3d3fa8;
  color: white;
  border-radius: 1rem;
  padding: 5%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

button {
  position: relative;
  padding: 3% 7%;
  border: 0.1rem dashed rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  background-color: darkred;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: darkred;
  z-index: -1;
  border-radius: 1rem;
}

input {
  padding: 2%;
  border-radius: 0.5rem;
  border: none;
  background-color: #282a7b;
  margin-top: 0.5rem;
  color: white;
}

input:focus {
  outline: none;
}

#giftSender {
  width: 80%;
  height: 60%;
}

#giftViewer {
  width: 80%;
  height: 40%;
}

#giftViewer > textarea {
  height: 60% !important;
  margin-bottom: 0 !important;
}

#giftViewer > p {
  text-align: right;
}

#giftViewer > button, #giftSender > button {
  padding: 2% 6%;
}

#giftSender > textarea, #giftViewer > textarea {
  margin-top: 0.5rem;
  box-sizing: border-box;
  padding: 4%;
  width: 100%;
  height: 55%;
  background-color: #282a7b;
  resize: none;
  border: none;
  border-radius: 1rem;
  margin-bottom: 2rem;
  color: white;
}

#giftSender > textarea:focus {
  outline: none;
}

.infoBtn {
  display: flex;
  flex-direction: row;
}

#info {
  position: absolute;
  color: white;
  left: 1rem;
  top: 1rem;
}

#info button {
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
